// colors
$color-primary: #330933;
$color-static: #666508;
$color-error: #660808;
$color-content: #222;
$color-info: #66A708;
$color-header: rgb(48, 46, 46);
$white: #fff;
$black: #000;

// fonts
$font-primary: 'Roboto', sans-serif;
